<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.view">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MainActivity" />
        <activity android:name=".Login.LoginPage"
            android:noHistory="true">

        </activity>
        <activity android:name=".AddProductToStore.SearchProductAddToStore" />
        <activity android:name=".Cart.CartProductToStore" />
        <activity
            android:name=".SaleProduct.SaleProductDisplayPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Category.CategoryDisplayPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProductBrandDisplay.ProductBrandDisplay" />
        <activity
            android:name=".Brand.BrandDisplayPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TypeCategory.TypeCategoryPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProductTypeDisplay.ProductTypeDisplay" />
        <activity
            android:name=".Register.RegisterActivity" />
        <activity
            android:name=".ChangePassword.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProductInStore.ProductInStoreDisplayPage" />
        <activity android:name=".EditProductInStore.EditProductInStorePage" />
        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StoreInformation.StoreInformationPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterStore.RegisterStorePage" />
        <activity
            android:name=".UserInformation.UserInformationPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditUserInformation.EditUserInformationPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderManagerment.OrderManagement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderManagerment.OrderDetailManagement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NearbyStore.NearbyStorePage">

        </activity>
        <activity android:name=".ProductDetail.ProductDetailPage" />
        <activity android:name=".UserOrderFast.OrderFast"></activity>
        <activity android:name=".ProductInStoreByUser.ProductInStoreByUserDisplayPage" />

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"></activity>
        <activity android:name=".UserSearchProduct.UserSearchProductPage"></activity>
        <activity android:name=".EditStoreInformation.EditStoreInformationPage">

        </activity>
    </application>

</manifest>