<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.view">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".gui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/chien_test_1" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="exampleServiceChannel"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".gui.MainActivity" />

        <service android:name="project.firebase.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="project.firebase.NotificationFirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".gui.LoginPage"
            android:noHistory="true"
            android:parentActivityName=".gui.HomePage">

        </activity>
        <activity android:name=".gui.SearchProductAddToStore" />
        <activity
            android:name=".gui.SaleProductDisplayPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.CategoryDisplayPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".gui.ProductBrandDisplayPage" />
        <activity
            android:name=".gui.BrandDisplayPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.TypeCategoryPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".gui.ProductTypeDisplayPage" />
        <activity android:name=".gui.RegisterPage" />
        <activity
            android:name=".gui.ChangePasswordPage"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".gui.ProductCategoryDisplayPage">

        </activity>

        <activity android:name=".gui.ProductInStoreDisplayPage" />
        <activity android:name=".gui.EditProductInStorePage" />
        <activity
            android:name=".gui.HomePage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".gui.StoreInformationPage"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".gui.RegisterStorePage" />
        <activity
            android:name=".gui.UserInformationPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.EditUserInformationPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.StoreManagementOrderPage"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".gui.UserManagementOrderPage">
        </activity>
        <activity android:name=".gui.OrderDetailMapPage"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".gui.OrderDetailPage">

        </activity>
        <activity android:name=".gui.NearbyStorePage" />
        <activity android:name=".gui.ProductDetailPage" />
        <activity android:name=".gui.OrderPage">

        </activity>
        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" />
        <activity
            android:name=".gui.UserSearchProductPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".gui.EditStoreInformationPage" />
        <activity android:name=".gui.BarcodeActivity" />
        <activity android:name=".gui.ResetPasswordPage" />
        <activity
            android:name=".gui.WelcomePage"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.Main3Activity" />
        <activity
            android:name=".gui.GetPasswordPage"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".gui.OTPCodePage"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
                android:name=".gui.CartPage"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".gui.UserFeedbackPage"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".gui.ProductInStoreByUserDisplayPage"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".gui.FeedbackManagement">

        </activity>
        <receiver android:name=".gui.UserManagementOrderPage$InternalNetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>