<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.view">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Login.LoginPage" />
        <activity android:name=".AddProductToStore.SearchProductAddToStore" />
        <activity android:name=".Cart.CartProductToStore" />
        <activity
            android:name=".SaleProduct.SaleProductDisplayPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Category.CategoryDisplayPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProductBrandDisplay.ProductBrandDisplay" />
        <activity
            android:name=".Brand.BrandDisplayPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TypeCategory.TypeCategoryPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProductTypeDisplay.ProductTypeDisplay" />
        <activity
            android:name=".Register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePassword.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProductInStore.ProductInStoreDisplayPage" />
        <activity android:name=".EditProductInStore.EditProductInStorePage" />
        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StoreInformation.StoreInformationPage"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".RegisterStore.RegisterStorePage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterStore.CityChoosenPage" />
        <activity android:name=".RegisterStore.TownChoosenPage" />
        <activity android:name=".RegisterStore.CommuneChoosenPage"></activity>
    </application>

</manifest>